include mixins/breadcrumbs.pug

doctype html
html(lang='ru')
  include includes/head.pug
  body
    include includes/header.pug
  
    section.section
      .section__inner
        +breadcrumbs(['О нас'])

        h2.section__title О нас

        .block.block-text
          each text in randomText.text
            p= text

        nav.block.block-menu
          each item in mainMenu[4].submenu
            figure.block-menu__item
              a(href=item.link).block-menu__link
                .block-menu__image-wrapper
                  img.block-menu__image(src='img/' + item.image)
                figcaption.block-menu__caption= item.text

        .block.block-slider.slider-team
          h3.section__title Наша команда
          img(src='//placehold.it/1140x430&text=Slider')

    include includes/footer.pug
