include mixins/breadcrumbs.pug

doctype html
html(lang='ru')
  include includes/head.pug
  body
    include includes/header.pug

    +breadcrumbs

    include includes/footer.pug

    script(src='js/app.js')
