extends layout/main.pug

block content

  section.section.section-news-item
    .section__inner
      - var newsItem = news.items[0];

      +breadcrumbs(['Новости'])

      h1.page-title= newsItem.title

      .section-news-item__content
        .section-news-item__image
          .shadow-image
            img.shadow-image__image(src=`img/media/${newsItem.image}`, alt='')
          span.section-news-item__date= newsItem.date
        .section-news-item__text
          p Труд арбитражных управляющих в России сложно назвать благодарным. Об этом говорят не только эксперты, но и подтверждает правоприменительная практика. В двух делах, которые рассмотрел Верховный суд, управляющие смогли в конкурсном производстве значительно улучшить положение. В первом из них конкурсный управляющий отсутствующего должника, "Сервис-Центра", Виктор Тихонов обнаружил на счетах компании 316 191 руб., а также дебиторскую задолженность ПАО "Ковровский Механический завод" в размере 5,5 млн руб. Тихонов добился того, чтобы эти деньги предприятие вернуло банкроту. После того как они поступили на счет "Сервис-Центра", управляющий перечислил себе 577 565 руб. в качестве вознаграждения за проведение процедуры несостоятельности. Кредитор фирмы ФНС посчитала, что такая выплата Тихонову носила незаконный характер. Три инстанции поддержали позицию налоговиков, указав на то, что завод выплатил долг добровольно. Значит, в этом нет заслуг управляющего, заключили суды (дело № А11-1426/2015).
          h2 Общий размер погашенных требований важнее денег
          p Вопрос о размере вознаграждения управляющему возник и в банкротном деле "Завода ячеистых бетонов" (дело № А65-2701/2009). Долги предприятия, обеспеченные залогом, составили 354,3 млн руб. Во время конкурсного производства компании удалось погасить задолженность в размере 156 млн руб. Арбитражный управляющий, Евгений Грабалин, рассчитывался с кредиторами завода по-разному: кому-то перечислил деньги от продажи активов, а другим разрешил оставить заложенное имущество предприятия. После таких успешных расчетов он обратился в суд и попросил выплатить ему проценты по вознаграждению в размере 7,9 млн. руб. 
          h1 Заголовок 1
          h2 Заголовок 2
          h3 Заголовок 3
          h4 Заголовок 4
          h5 Заголовок 5
          h6 Заголовок 6
          p Однако три инстанции решили, что управляющему полагается только 1,1 млн руб. В своих расчетах суды учитывали лишь деньги, которые завод перечислил кредиторам от продажи активов, находившихся в залоге. Нижестоящие инстанции не стали обращать внимание на то, что часть долгов предприятие погасило, просто оставив свое заложенное имущество кредиторам.
          a.news-link(href='news.html')= news.backLabel

  section.section-some-news.section.section--padding
    .section__inner
      h2.section__title Другие наши новости
      .section__content
        each x, i in [...Array(2)]
          - var newsItem = news.items[i];
          - var text = (i % 2 === 0) ? news.largeText : news.smallText;
          +news-preview-item(newsItem, text, false)
