extends layout/main.pug

block content

  section.section.section-news
    .section__inner
      +breadcrumbs(['Новости'])

      h1.page-title Новости

      .section__content
        each newsItem, i in news.items
          - var text = (i % 2 === 0) ? news.largeText : news.smallText;
          +news-preview-item(newsItem, text)
