doctype html
html(lang='ru')
  include includes/head.pug
  body
    include includes/header.pug

    section.section.full-news
      .section__inner
        - var newsItem = news.items[0];
        h2= newsItem.title
        



    include includes/news.pug

    include includes/footer.pug

    script(src='js/app.js')
