extends layout/main.pug

block content

  section.section
    .section__inner
      +breadcrumbs(['Услуги'])

      h1.page-title Услуги

  -
    var lists = [
      {
        title: 'Услуги для компаний',
        items: services.forСompanies,
        style: 'gray',
      },
      {
        title: 'Услуги для частных лиц',
        items: services.forPeople,
      },
    ];
  +services(...lists)
