extends layout/main.pug

block content

  section.section
    .section__inner
      +breadcrumbs(['Услуги', 'Для компаний'])

      h1.page-title Услуги для компаний
  
  -
    var lists = [
      {
        items: services.forСompanies,
      },
      {
        items: services.forPeople,
      },
    ];
  +services(...lists)
