header.header
  .header__inner
    .header__content
      .header__logo
        a.logo(href='index.html')
      .header__menu.js-menu
        nav.header-nav
          ul.header-nav__list
            each item in mainMenu
              - var hasSubmenu = Array.isArray(item.submenu)
              li.header-nav__item(class=hasSubmenu ? 'header-nav__item--submenu' : '')
                a.header-nav__link(href=item.link)= item.text
                if hasSubmenu
                  ul.header-nav__list.header-nav__list--submenu
                    each subItem in item.submenu
                      li.header-nav__item
                        a.header-nav__link(href=subItem.link)= subItem.text
        .header__mobile
          .header__mobile-title Меню
          .header__mobile-button-wrapper
            button.hamburger.hamburger--squeeze.js-toggle-menu(type='button')
              span.hamburger-box
                span.hamburger-inner
        .header__mobile-overlay.js-menu-overlay
      .header__phones
        ul.phones-list.phones-list--big
          each phone in contacts.phones
            li.phones-list__item
              a.phones-list__link(href='tel:' + phone.number)= phone.text
