head
  title The Иск
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='css/style.css')
  link(rel='apple-touch-icon', sizes='180x180', href='/the-isk/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='/the-isk/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='/the-isk/favicon-16x16.png')
  link(rel='manifest', href='/the-isk/manifest.json')
  link(rel='mask-icon', href='/the-isk/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='theme-color', content='#ffffff')
