* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: $global-line-height;
  color: $color-text-dark;
}

a {
  color: $color-secondary;
  text-decoration: none;
  transition: color $transition-duration $transition-function;

  &:hover {
    color: $color-primary;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.center {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 8px 18px;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition:
    color        $transition-duration $transition-function,
    border-color $transition-duration $transition-function;

  &--dark {
    color: $color-text-dark;
    border-color: $color-text-dark;
  }

  &--light {
    color: $color-text-light;
    border-color: $color-text-light;
  }

  &--gray {
    color: #909090;
    border-color: #909090;
  }
}

.breadcrumbs {
  padding: 25px 0;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
  }

  &__item {
    padding-right: 10px;

    &::after {
      content: '»';
      padding-left: 7px;
    }

    &:last-child {
      font-weight: bold;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: $color-text-dark;
  }
}

.table-wrapper {
  padding: 20px 40px 50px;
  background: #ebf0f2;
}
