$flexboxgrid-columns:      12 !default;
$flexboxgrid-gutter-width: 15px !default;
$flexboxgrid-outer-margin: 30px !default;

$flexboxgrid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$flexboxgrid-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

$gutter-compensation: $flexboxgrid-gutter-width * 0.5 * -1;
$half-gutter-width:   $flexboxgrid-gutter-width * 0.5;


// container
%container {
  margin-right: auto;
  margin-left:  auto;
  width:     calc(100% - #{$flexboxgrid-gutter-width});
  max-width: calc(100% - #{$flexboxgrid-gutter-width});
}

%container-fluid {
  margin-right: auto;
  margin-left:  auto;
  padding-right: $flexboxgrid-outer-margin;
  padding-left:  $flexboxgrid-outer-margin;
}


// row
%row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left:  $gutter-compensation;
}


// col
%col-base {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $half-gutter-width;
  padding-left:  $half-gutter-width;
}

@mixin _generate-col-base($breakpoint-name: none) {
  $postfix: if($breakpoint-name == none, '', -#{$breakpoint-name});

  %col#{$postfix} {
    @extend %col-base;
  }

  @for $i from 1 through $flexboxgrid-columns {
    %col#{$postfix}-#{$i} {
      @extend %col-base;
    }
  }

  @for $i from 0 through $flexboxgrid-columns {
    %col#{$postfix}-offset-#{$i} {
      @extend %col-base;
    }
  }
}

@include _generate-col-base;

@each $breakpoint-name in map-keys($flexboxgrid-breakpoints) {
  @include _generate-col-base($breakpoint-name);
}

@mixin _generate-breakpoint($breakpoint-name: none) {
  $postfix: if($breakpoint-name == none, '', -#{$breakpoint-name});

  %col#{$postfix} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 1 through $flexboxgrid-columns {
    %col#{$postfix}-#{$i} {
      flex-basis: 100% / $flexboxgrid-columns * $i;
      max-width:  100% / $flexboxgrid-columns * $i;
    }
  }

  @for $i from 0 through $flexboxgrid-columns - 1 {
    %col#{$postfix}-offset-#{$i} {
      margin-left: 100% / $flexboxgrid-columns * $i;
    }
  }

  %start#{$postfix} {
    justify-content: flex-start;
    text-align: start;
  }

  %center#{$postfix} {
    justify-content: center;
    text-align: center;
  }

  %end#{$postfix} {
    justify-content: flex-end;
    text-align: end;
  }

  %top#{$postfix} {
    align-items: flex-start;
  }

  %middle#{$postfix} {
    align-items: center;
  }

  %bottom#{$postfix} {
    align-items: flex-end;
  }

  %around#{$postfix} {
    justify-content: space-around;
  }

  %between#{$postfix} {
    justify-content: space-between;
  }

  %first#{$postfix} {
    order: -1;
  }

  %last#{$postfix} {
    order: 1;
  }
}

@include _generate-breakpoint;

@each $breakpoint-name in map-keys($flexboxgrid-breakpoints) {
  $breackpoint-min-width: map-get($flexboxgrid-breakpoints, $breakpoint-name);
  $container-max-width:   map-get($flexboxgrid-max-widths,  $breakpoint-name);

  @media only screen and (min-width: $breackpoint-min-width) {
    %container {
      width: $container-max-width;
    }

    @include _generate-breakpoint($breakpoint-name);
  }
}
