.section {
  padding: 50px 0;

  &__inner {
    @extend %container;
  }
}

.header {
  @extend %container;

  &__inner {
    @extend %row;

    padding: 15px 0;
  }

  &__logo {
    @extend %col-lg-2;

    display: flex;
    height: 100px;
    align-items: center;
  }

  &__logo-link {
    display: block;
    height: 88px;
    width: 151px;
    background: url('../img/logo.svg') center no-repeat;
    background-size: contain;
  }

  &__menu {
    @extend %col-lg-7;

    display: none;
    height: 100px;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  &__phones {
    @extend %col-lg-3;

    display: flex;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
  }
}

.header-nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &--submenu {
      display: none;
      padding: 15px 0;
      position: absolute;
      z-index: 2;
      flex-direction: column;
      top: 100%;
      left: -40px;
      width: 180px;
      background: $color-secondary;

      // .header-nav__item {}

      .header-nav__link {
        padding-top: 7px;
        padding-bottom: 7px;
        color: $color-text-light;
        font-size: 15px;
        font-weight: normal;
        text-transform: none;
        white-space: nowrap;

        &:hover {
          color: #f23933;
        }
      }
    }
  }

  &__item {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    // padding: 0 15px;

    &--submenu {
      &::after {
        content: '';
        display: block;
        position: absolute;
        margin-left: -5px;
        bottom: 12px;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0;
        border-color: $color-primary transparent transparent transparent;
      }

      &:hover {
        .header-nav__list {
          display: flex;
        }

        &::after {
          border-width: 0 5px 5px;
          border-color: transparent transparent $color-primary transparent;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 20px 15px;

    &:hover {
      color: $color-secondary;
    }

    @media (min-width: $screen-xl) {
      padding: 20px;
    }
  }
}

.header-phones {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 20px;

  // &__item {}

  // &__link {}
}

.main-slider {
  position: relative;

  &__items {
    position: relative;
    height: 500px;
    overflow: hidden;
  }

  &__controls {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 34px;
    justify-content: center;
  }

  &__dot {
    display: block;
    margin: 0 7px;
    width: 10px;
    height: 10px;
    background: $color-secondary;
    cursor: pointer;
    transition:
      background-color $transition-duration $transition-function,
      transform        $transition-duration $transition-function;

    &:hover,
    &.active {
      transform: rotate(45deg);
      background: $color-primary;
    }
  }
}

.main-slide {
  display: flex;
  position: absolute;
  width: 100%;
  height: 500px;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity $transition-duration $transition-function;

  &.active {
    z-index: 1;
    opacity: 1;
  }

  &__inner {
    @extend %container;
  }

  &__content {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;

    @media (min-width: $screen-sm) {
      margin: 0;
      width: auto;
      text-align: left;
    }

    @media (min-width: $screen-lg) {
      margin-left: 60px;
    }
  }

  &__title {
    display: block;
    color: $color-primary;
    line-height: 1.5;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    color: $color-secondary;
    line-height: 1.5;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__desc {
    display: block;
    padding: 13px 0 40px;
    line-height: 1.4;
    font-size: 18px;
  }

  &__button {
    display: block;
  }
}

.section-features {
  background: url('../img/section-features-bg.jpg') center no-repeat;
  background-size: cover;

  &__title {
    text-align: center;
    padding-bottom: 20px;
  }

  &__items {
    @extend %row;
  }
}

.feature-item {
  @extend %col-12, %col-md-6, %col-xl-4;

  padding-bottom: 60px;

  @media (min-width: $screen-sm) {
    &:nth-child(6) {
      padding-bottom: 0;
    }
  }

  @media (min-width: $screen-md) {
    &:nth-child(5) {
      padding-bottom: 0;
    }
  }

  @media (min-width: $screen-xl) {
    &:nth-child(4) {
      padding-bottom: 0;
    }
  }

  &__content {
    display: flex;
    margin: 0;
  }

  &__image-wrapper {
    min-width: 68px;
    text-align: center;
    margin-right: 10px;

    @media (min-width: $screen-sm) {
      margin-right: 30px;
    }
  }

  // &__image {}

  // &__text {}

  &__title {
    display: block;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 52px;
      height: 2px;
      background: $color-primary;
    }
  }

  &__desc {
    display: block;
    color: #a5a2a2;
    word-wrap: wrap;
  }
}

.section-services {
  &__inner {
    @extend %container-fluid;

    padding: 0;
  }

  &__content {
    @extend %row;

    margin: 0;
  }

  &__table {
    @extend %col-12, %col-lg-6;

    padding: 50px 15px;
    background-size: cover;
    background-repeat: no-repeat;

    &--image-1 {
      background-position: center right;
      background-image: url('../img/section-services-bg-1.jpg');
    }

    &--image-2 {
      background-position: center left;
      background-image: url('../img/section-services-bg-2.jpg');
    }

    &--gray {
      background: #ebf0f2;
    }

    &:first-child {
      @media (min-width: $screen-lg) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      @media (min-width: $screen-xl) {
        padding-right: 60px;
      }
    }

    &:last-child {
      @media (min-width: $screen-xl) {
        padding-left: 60px;
      }
    }
  }

  &__table-wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;

    &--icon-user::before,
    &--icon-users::before,
    &--icon-users-white::before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 50px;
      width: 53px;
      background-position: top right;
      background-repeat: no-repeat;

      @media (min-width: $screen-sm) {
        top: -17px;
      }
    }

    &--icon-user::before {
      background-image: url('../img/icon-user.svg');
    }

    &--icon-users::before {
      background-image: url('../img/icon-users.svg');
    }

    &--icon-users-white::before {
      background-image: url('../img/icon-users-white.svg');
    }

    @media (min-width: $screen-sm) {
      width: $container-max-sm;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      width: $container-max-lg / 2 - $flexboxgrid-gutter-width / 2;
      text-align: left;
    }

    @media (min-width: $screen-xl) {
      width: 480px;
    }
  }

  &__button {
    display: inline-block;
    margin: 10px auto 30px;
  }
}

.services-table {
  width: 100%;
  font-size: 18px;
  line-height: 1.44;
  border-collapse: separate;
  border-spacing: 0 35px;

  &--light {
    color: #fff;

    .services-table__term {
      color: #d5d0d0;
    }
  }

  caption {
    padding: 0 60px 5px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    text-transform: uppercase;
    border-spacing: 0;
  }

  td {
    text-align: left;
    vertical-align: top;
  }

  tr td:last-child {
    text-align: right;
    white-space: nowrap;
    width: 40%;
  }

  &__price {
    font-weight: bold;
  }

  &__term {
    position: relative;
    top: -3px;
    font-size: 14px;
    color: #909090;
  }
}

.section-promo {
  padding: 28px 0;
  color: $color-text-light;
  background: #9c2838;

  &__inner {
    @extend %container;
  }

  &__title {
    margin: 0 0 5px;
    font-size: 36px;
  }

  &__text {
    font-size: 18px;
  }
}

.section-feedback {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebf0f2;

  &--image-1 {
    @media (min-width: $screen-lg) {
      background-image: url('../img/section-feedback-bg-1.jpg');
    }
  }

  &--image-2 {
    background-image: url('../img/section-feedback-bg-2.jpg');
  }
}

.form {
  @extend %row;

  &__content {
    @extend %col-12, %col-md-8, %col-lg-6, %col-xl-5;
    @extend %col-md-offset-2, %col-lg-offset-0;
  }

  &__block-1 {
    @extend %col-12, %col-md-8, %col-lg-5, %col-xl-4;
    @extend %col-md-offset-2, %col-lg-offset-0, %col-xl-offset-1;
  }

  &__block-2 {
    @extend %col-12, %col-md-8, %col-lg-6, %col-xl-5;
    @extend %col-md-offset-2, %col-lg-offset-1, %col-xl-offset-1;
  }

  &__group {
    padding-bottom: 25px;

    &--inline {
      @media (min-width: $screen-xl) {
        display: flex;
        align-items: flex-start;

        .form__label {
          display: flex;
          height: 34px;
          width: 130px;
          flex-direction: column;
          justify-content: center;
        }

        .form__input {
          width: calc(100% - 130px);
        }
      }
    }
  }

  &__label {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__input {
    padding: 7px 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: $color-text-dark;
    transition:
      color        $transition-duration $transition-function,
      border-color $transition-duration $transition-function;

    &:focus {
      border-color: $color-primary;
    }
  }

  &__textarea {
    min-height: 150px;
    min-width: 100%;
    max-width: 100%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: $screen-sm) {
      padding: 10px 0;
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__message {
    font-size: 13px;
    line-height: 1.4;
    color: #909090;

    @media (min-width: $screen-sm) {
      padding-right: 50px;
    }
  }

  &__button {
    margin-top: 15px;

    @media (min-width: $screen-sm) {
      margin-top: 0;
    }
  }
}

.section-news {
  background: #ebf0f2;
}

.footer {
  color: #818181;
  background: #292931;

  &__inner {
    @extend %container;
  }

  &__content {
    @extend %row;
  }

  &__for-companies {
    @extend %col-12, %col-md-6, %col-xl-3;
  }

  &__title {
    font-size: 16px;
  }

  &__link {
    font-size: 14px;
    color: #605f6d;
  }

  &__for-people {
    @extend %col-12, %col-md-6, %col-xl-3;
  }

  &__usefull {
    @extend %col-12, %col-md-6, %col-xl-3;
  }

  &__contacts {
    @extend %col-12, %col-md-6, %col-xl-3;
  }

  // &__address {}
}

.footer-menu {
  padding-bottom: 15px;

  &--upper {
    text-transform: uppercase;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
  }

  &__item {
    padding-bottom: 15px;
  }

  &__link {
    display: inline-block;
    color: #818181;
  }
}
