$screen-sm:                576px;
$screen-md:                768px;
$screen-lg:                992px;
$screen-xl:                1200px;

$container-max-sm:         540px;
$container-max-md:         720px;
$container-max-lg:         960px;
$container-max-xl:         1140px;

$color-primary:            #b80f0a;
$color-primary-dark:       #9c2838;
$color-secondary:          #05055c;
$color-text-dark:          #606060;
$color-text-soft:          #808080;
$color-text-light:         #fff;
$color-bg-dark:            #292931;
$color-bg-light:           #ebf0f2;

$transition-duration:      0.2s;
$transition-function:      linear;

$font-primary:             Arimo, 'Open Sans', Arial, sans-serif;

$global-line-height:       1.66;

// grid
$flexboxgrid-gutter-width: 30px;

$flexboxgrid-breakpoints: (
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);

$flexboxgrid-max-widths: (
  sm: $container-max-sm,
  md: $container-max-md,
  lg: $container-max-lg,
  xl: $container-max-xl,
);

// icons
$icon-mobile: "\f10b";
$icon-instagram: "\f16d";
$icon-vk: "\f189";
$icon-whatsapp: "\f232";
$icon-odnoklassniki: "\f263";

// habmurger
$hamburger-padding-x:                        10px;
$hamburger-padding-y:                        13px;
$hamburger-layer-width:                      32px;
$hamburger-layer-color:                      $color-text-light;
$hamburger-types:                            (squeeze);
$hamburger-hover-transition-duration:        $transition-duration;
$hamburger-hover-transition-timing-function: $transition-function;

// font-size
$default-font-size: 16;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem($pixels, $context: $default-font-size) {
  @return #{strip-unit($pixels)/$context}rem;
}
